This is my first markdown

In [5]:
print("This is python script from notebook jupyter") # This is a simple comment

This is python script from notebook jupyter

In [6]:
# This is a simple Python script that prints a message.

Variables and Data Types

In [7]:
name = "Srinivas"
type_of_name = type(name)


age = 30
type_of_age = type(age)

height = 5.10
type_of_height = type(height)

print(f"Name: {name}, Type: {type_of_name}")
print(f"Age: {age}, Type: {type_of_age}")
print(f"Height: {height:.2f}, Type: {type_of_height}")

is_student = False
type_of_is_student = type(is_student)
print(f"is_student: {is_student}, Type: {type_of_is_student}")

Name: Srinivas, Type: <class 'str'>
Age: 30, Type: <class 'int'>
Height: 5.10, Type: <class 'float'>
is_student: False, Type: <class 'bool'>

In [8]:
message = "Hello, World!"
print(message)

Hello, World!

In [9]:
number = 42
type(number)
print(f"Number: {number}, Type: {type(number)}")

number = 0
type(number)
print(f"Number: {number}, Type: {type(number)}")

Number: 42, Type: <class 'int'>
Number: 0, Type: <class 'int'>

In [10]:
name = "Clark"
age = 30
is_adult = True

print(name)
print(age)
print(is_adult)

event_name = "Birthday Party"
event_date = "2023-10-01"
event_time = "18:00"
print(event_name)
print(event_date)
print(event_time)

Clark
30
True
Birthday Party
2023-10-01
18:00

In [11]:
snake_case_variable = "This is a snake_case variable"
CamelCaseVariable = "This is a CamelCase variable"
print(snake_case_variable)
print(CamelCaseVariable)

This is a snake_case variable
This is a CamelCase variable

Arithmetic Operators

In [12]:
num1 = 10
num2 = 20
addition_result = num1 + num2
print("Addition Result:", addition_result)

print(10+5)

subtraction = num2 - num1
print("Subtraction Result:", subtraction)
subtraction
# In Jupyter notebook, no need to use print to display the result. we can directly write the variable name.

# If we add like below, the last variable will be displayed as output - ignoring the multiplication variable.
multiplication = num1 * num2
multiplication

division = num2 / num1
division

Addition Result: 30
15
Subtraction Result: 10

2.0

In [13]:

# Multiplication
multiplication = num1 * num2
multiplication

200

In [14]:

# Division
division = num2 / num1
division

2.0

In [15]:
# Exponentiation
exponentiation = num1 ** 3
exponentiation

1000

In [16]:
# PEMDAS - 
# Parentheses, Exponents, Multiplication and Division (from left to right), 
# Addition and Subtraction (from left to right)

# Example of PEMDAS
result = (2 + 3) * (4 - 1) ** 2 / 5
# 5 * 3 ** 2 / 5
# 5 * 9 / 5
# 45 / 5 
print("Result of PEMDAS example:", result)

Result of PEMDAS example: 9.0

In [17]:
total = 0
total += 5
total

5

In [18]:
total -= 3 # total = total - 3
total

2

In [19]:
total *= 3 # total = total * 3
total

6

In [20]:
total /= 3 # total = total / 3
total

2.0

Comparison Operators

In [21]:
# Comparison Operators
x = 5
y = 10

# If x is equal to y
result = (x == y)
result = x == y

result

False

In [22]:
result1 = (x != y) # If x is not equal to y
result1

True

In [23]:
a = 15
b = 20

result2 = (a < b)  # If a is less than b
print(result2)

result3 = (a > b)  # If a is greater than b
print(result3)

result4 = (a >= b)  # If a is greater than equalto b
print(result4)


result5 = (a <= b)  # If a is less than equalto b
print(result5)

True
False
False
True

In [24]:
num = 15
result = 10 <= num <= 20  # If num is between 10 and 20 (inclusive)
# 10 <= num and num <= 20 = True and True = True
print(result)

True

In [25]:
num = 15
result = 10 >= num >= 20  # Checks: 10 >= num and num >= 20 = False and False = False
print(result)

False

In [26]:
variable1 = 10
variable2 = 10
is_variable_result = variable1 is variable2
print(is_variable_result)

is_not_variable_result = variable1 is not variable2
print(is_not_variable_result)

True
False

String Manipulation

In [27]:
greeting = "Hello, Python!"

len(greeting)  # Returns the length of the string

14

In [28]:
greeting[0]  # Accessing the first character of the string

'H'

In [29]:
greeting[7] # Accessing the character at index 7 of the string

'P'

In [30]:
greeting[-2] # Accessing the second last character of the string

'n'

In [31]:
greeting

'Hello, Python!'

In [32]:
greeting[7:13]

'Python'

In [33]:
greeting + " Welcome"

'Hello, Python! Welcome'

In [34]:
print(greeting + " " + "Welcome")

Hello, Python! Welcome

In [35]:
print(greeting + " " + "Welcome" + " 2025")

Hello, Python! Welcome 2025

In [36]:
type("25")

str

In [37]:
sentence = "This is a sample sentence."

In [38]:
sentence.upper()  # Converts the string to uppercase

'THIS IS A SAMPLE SENTENCE.'

In [39]:
sentence.lower()  # Converts the string to lowercase

'this is a sample sentence.'

In [40]:
sentence.find("sample")  # Finds the index of the substring "sample" in the sentence

10

In [41]:
sentence[10]

's'

In [42]:
sentence.replace("sample", "example")  # Replaces "sample" with "example" in the sentence

'This is a example sentence.'

In [43]:
sentence

'This is a sample sentence.'

In [45]:
sentence = sentence.replace("sample", "example")  # Replaces "sample" with "example" in the sentence

In [46]:
sentence

'This is a example sentence.'

In [47]:
sentence.endswith("sentence.")  # Checks if the sentence ends with "sentence."

True

In [48]:
sentence.count("e")  # Counts the occurrences of "e" in the sentence

5

String Formatting

In [50]:
name = "Srinivas"
age = 30

In [53]:
formatted_string = f"Hello, my name is {name} and I am {age} years old."
formatted_string

'Hello, my name is Srinivas and I am 30 years old.'

In [56]:
formatted_string2 = "Hello, my name is {} and I am {} years old.".format(name, age)
formatted_string2

'Hello, my name is Srinivas and I am 30 years old.'