This is my first markdown

In [5]:
print("This is python script from notebook jupyter") # This is a simple comment

This is python script from notebook jupyter

In [6]:
# This is a simple Python script that prints a message.

Variables and Data Types

In [7]:
name = "Srinivas"
type_of_name = type(name)


age = 30
type_of_age = type(age)

height = 5.10
type_of_height = type(height)

print(f"Name: {name}, Type: {type_of_name}")
print(f"Age: {age}, Type: {type_of_age}")
print(f"Height: {height:.2f}, Type: {type_of_height}")

is_student = False
type_of_is_student = type(is_student)
print(f"is_student: {is_student}, Type: {type_of_is_student}")

Name: Srinivas, Type: <class 'str'>
Age: 30, Type: <class 'int'>
Height: 5.10, Type: <class 'float'>
is_student: False, Type: <class 'bool'>

In [8]:
message = "Hello, World!"
print(message)

Hello, World!

In [9]:
number = 42
type(number)
print(f"Number: {number}, Type: {type(number)}")

number = 0
type(number)
print(f"Number: {number}, Type: {type(number)}")

Number: 42, Type: <class 'int'>
Number: 0, Type: <class 'int'>

In [10]:
name = "Clark"
age = 30
is_adult = True

print(name)
print(age)
print(is_adult)

event_name = "Birthday Party"
event_date = "2023-10-01"
event_time = "18:00"
print(event_name)
print(event_date)
print(event_time)

Clark
30
True
Birthday Party
2023-10-01
18:00

In [11]:
snake_case_variable = "This is a snake_case variable"
CamelCaseVariable = "This is a CamelCase variable"
print(snake_case_variable)
print(CamelCaseVariable)

This is a snake_case variable
This is a CamelCase variable

Arithmetic Operators

In [12]:
num1 = 10
num2 = 20
addition_result = num1 + num2
print("Addition Result:", addition_result)

print(10+5)

subtraction = num2 - num1
print("Subtraction Result:", subtraction)
subtraction
# In Jupyter notebook, no need to use print to display the result. we can directly write the variable name.

# If we add like below, the last variable will be displayed as output - ignoring the multiplication variable.
multiplication = num1 * num2
multiplication

division = num2 / num1
division

Addition Result: 30
15
Subtraction Result: 10

2.0

In [13]:

# Multiplication
multiplication = num1 * num2
multiplication

200

In [14]:

# Division
division = num2 / num1
division

2.0

In [15]:
# Exponentiation
exponentiation = num1 ** 3
exponentiation

1000

In [16]:
# PEMDAS - 
# Parentheses, Exponents, Multiplication and Division (from left to right), 
# Addition and Subtraction (from left to right)

# Example of PEMDAS
result = (2 + 3) * (4 - 1) ** 2 / 5
# 5 * 3 ** 2 / 5
# 5 * 9 / 5
# 45 / 5 
print("Result of PEMDAS example:", result)

Result of PEMDAS example: 9.0

In [17]:
total = 0
total += 5
total

5

In [18]:
total -= 3 # total = total - 3
total

2

In [19]:
total *= 3 # total = total * 3
total

6

In [20]:
total /= 3 # total = total / 3
total

2.0

Comparison Operators

In [21]:
# Comparison Operators
x = 5
y = 10

# If x is equal to y
result = (x == y)
result = x == y

result

False

In [22]:
result1 = (x != y) # If x is not equal to y
result1

True

In [23]:
a = 15
b = 20

result2 = (a < b)  # If a is less than b
print(result2)

result3 = (a > b)  # If a is greater than b
print(result3)

result4 = (a >= b)  # If a is greater than equalto b
print(result4)


result5 = (a <= b)  # If a is less than equalto b
print(result5)

True
False
False
True

In [24]:
num = 15
result = 10 <= num <= 20  # If num is between 10 and 20 (inclusive)
# 10 <= num and num <= 20 = True and True = True
print(result)

True

In [25]:
num = 15
result = 10 >= num >= 20  # Checks: 10 >= num and num >= 20 = False and False = False
print(result)

False

In [26]:
variable1 = 10
variable2 = 10
is_variable_result = variable1 is variable2
print(is_variable_result)

is_not_variable_result = variable1 is not variable2
print(is_not_variable_result)

True
False

String Manipulation

In [27]:
greeting = "Hello, Python!"

len(greeting)  # Returns the length of the string

14

In [28]:
greeting[0]  # Accessing the first character of the string

'H'

In [29]:
greeting[7] # Accessing the character at index 7 of the string

'P'

In [30]:
greeting[-2] # Accessing the second last character of the string

'n'

In [31]:
greeting

'Hello, Python!'

In [32]:
greeting[7:13]

'Python'

In [33]:
greeting + " Welcome"

'Hello, Python! Welcome'

In [34]:
print(greeting + " " + "Welcome")

Hello, Python! Welcome

In [35]:
print(greeting + " " + "Welcome" + " 2025")

Hello, Python! Welcome 2025

In [36]:
type("25")

str

In [37]:
sentence = "This is a sample sentence."

In [38]:
sentence.upper()  # Converts the string to uppercase

'THIS IS A SAMPLE SENTENCE.'

In [39]:
sentence.lower()  # Converts the string to lowercase

'this is a sample sentence.'

In [40]:
sentence.find("sample")  # Finds the index of the substring "sample" in the sentence

10

In [41]:
sentence[10]

's'

In [42]:
sentence.replace("sample", "example")  # Replaces "sample" with "example" in the sentence

'This is a example sentence.'

In [43]:
sentence

'This is a sample sentence.'

In [45]:
sentence = sentence.replace("sample", "example")  # Replaces "sample" with "example" in the sentence

In [46]:
sentence

'This is a example sentence.'

In [47]:
sentence.endswith("sentence.")  # Checks if the sentence ends with "sentence."

True

In [48]:
sentence.count("e")  # Counts the occurrences of "e" in the sentence

5

String Formatting

In [50]:
name = "Srinivas"
age = 30

In [53]:
formatted_string = f"Hello, my name is {name} and I am {age} years old."
formatted_string

'Hello, my name is Srinivas and I am 30 years old.'

In [56]:
formatted_string2 = "Hello, my name is {} and I am {} years old.".format(name, age)
formatted_string2

'Hello, my name is Srinivas and I am 30 years old.'

Conditional Statements

In [64]:
age = 25

if age>=18:
    print("You are an adult")

You are an adult

In [65]:
age = 15

if age>=18:
    print("You are an adult")
else:
    print("You are not an adult")

You are not an adult

In [71]:
temperature = 25

if temperature > 30: # If temperature is greater than 30
    print("It's a hot day.")
elif 20<= temperature <= 30:  # If temperature is between 20 and 30 (inclusive)
    print("It's a pleasant day.")
else: # If temperature is less than 20
    print("It's a cold day.")

It's a pleasant day.

In [72]:
is_raining = True
is_cold = False

In [73]:
if is_raining:
    print("Take an umbrella.")
    if is_cold:
        print("It's also cold, wear a jacket.")
    else:
        print("It's not cold, just take an umbrella.")
else:
    print("No need for an umbrella today.")

Take an umbrella.
It's not cold, just take an umbrella.

Ternary Operator

In [75]:
age = 50

# value_if_true if condition else value_if_false
"You are allowed to vote." if age >= 18 else "You are not allowed to vote."

'You are allowed to vote.'

For and While Loops - Break and Continue

In [77]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [81]:
for number in range(5):
    print("Number:", number)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [82]:
for number in range(1,5):
    print("Number: ",number)

Number:  1
Number:  2
Number:  3
Number:  4

In [86]:
count = 0

while count <= 3:
    print("Count is:", count)
    count += 1  # Increment count by 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3

In [89]:
numbers = [1, 2, 3, 4, 5]

In [96]:
for number in numbers:
    if number == 3:
        break  # Exit the loop if number is 3
    print("Number :", number)

Number : 1
Number : 2

In [ ]:
for number in numbers:
    if number % 2 == 0:
        continue  # Skip the rest of the loop if number is divided by 2
    print("Number :", number)

Number : 1
Number : 3
Number : 5

In [99]:
word = "Python"
word.lower()  # Convert the word to lowercase

'python'

In [101]:
for char in word:
    print(char.upper())  # Print each character in lowercase

P
Y
T
H
O
N

IDENTATION

In [104]:
if True:
    print("This is an indented block of code.")
print("This is another line outside the if block.")

This is an indented block of code.
This is another line outside the if block.

Lists, Tuples, Sets and Dictionaries

In [130]:
# Lists are mutable. - we can edit the list

fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [107]:
apple = "apple"
salary = 15000.50
roll_number = 1234567890

list_of_variables = [apple, salary, roll_number, "banana", "cherry", 42, True, None]
print(list_of_variables)

['apple', 15000.5, 1234567890, 'banana', 'cherry', 42, True, None]

In [108]:
list_of_variables[0]

'apple'

In [109]:
list_of_variables[6]

True

In [110]:
list_of_variables[7]

In [114]:
list_of_variables[-7]

15000.5

In [115]:
list_of_variables[1:3]

[15000.5, 1234567890]

In [116]:
type(list_of_variables)

list

In [119]:
list_of_variables.append("Grapes") # Appending the item to the end of the list

In [118]:
list_of_variables

['apple', 15000.5, 1234567890, 'banana', 'cherry', 42, True, None, 'Grapes']

In [124]:
list_of_variables.pop() # Remove an element from the list at index position

'Grapes'

In [125]:
list_of_variables

['apple', 15000.5, 1234567890, 'banana', 'cherry', None, 'Grapes']

In [127]:
list_of_variables.append("apple")

In [128]:
list_of_variables

['apple', 15000.5, 1234567890, 'banana', 'cherry', None, 'Grapes', 'apple']

In [129]:
list_of_variables.count("apple")

2

In [137]:
# Tuples - are immutable. We cant edit the Tuples, elements cannot be changed.

dimensions = (10, 20, 15)

In [132]:
dimensions

[10, 20, 15]

In [133]:
dimensions[2]

15

In [134]:
dimensions[1]

20

In [135]:
dimensions[-1]

15

In [138]:
type(dimensions)

tuple

In [140]:
# Dictionaries - Collection of Key, Value pairs

student = {
    "name" : "srinivas",
    "age" : 22,
    "major" : "CSE",
    "is_student": True
}

In [141]:
student

{'name': 'srinivas', 'age': 22, 'major': 'CSE', 'is_student': True}

In [142]:
type(student)

dict

In [143]:
student["name"]

'srinivas'

In [144]:
student["age"]

22

In [145]:
student["major"]

'CSE'

In [146]:
student["major"] = "CS"

In [147]:
student

{'name': 'srinivas', 'age': 22, 'major': 'CS', 'is_student': True}

In [148]:
student["grade"] = "A"

In [149]:
student

{'name': 'srinivas',
 'age': 22,
 'major': 'CS',
 'is_student': True,
 'grade': 'A'}

In [150]:
student.pop("major")

'CS'

In [151]:
student

{'name': 'srinivas', 'age': 22, 'is_student': True, 'grade': 'A'}

In [152]:
student["branch"] = "CS"

In [153]:
student

{'name': 'srinivas',
 'age': 22,
 'is_student': True,
 'grade': 'A',
 'branch': 'CS'}

In [1]:
# Sets is an unordered and mutable collection of unique elements for testing membership and eliminate duplicate entries.

colors_set = {"red","blue","orange","white","yellow"}

In [2]:
colors_set

{'blue', 'orange', 'red', 'white', 'yellow'}

In [3]:
len(colors_set)

5

In [7]:
is_green_in_colors_set = "green" in colors_set
is_green_in_colors_set

False

In [6]:
is_orange_in_colors_set = "orange" in colors_set
is_orange_in_colors_set

True

List Comprehensions

Making the readable lists conventions

In [12]:
for num in range(5):
    print(num ** 2)

0
1
4
9
16

In [13]:
# Basic List - Adding numbers to empty square list
squares = []
for num in range(5):
    squares.append(num **2)

In [14]:
squares

[0, 1, 4, 9, 16]

In [ ]:
# [expression for item in iterable]
squares_list_comprehension = [num **2 for num in range(5)]
squares_list_comprehension

[0, 1, 4, 9, 16]

Nested Data Structures

In [18]:
# Nested Lists

matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
len(matrix)

3

In [20]:
matrix[1]

[4, 5, 6]

In [21]:
matrix[1][1]

5

In [22]:
matrix[-1][0]

7

In [26]:
matrix[0][0] = 99
matrix

[[99, 2, 3], [4, 5, 6], [7, 8, 9]]

In [29]:
new_row = [100,101,102]
matrix.append(new_row)
matrix

[[99, 2, 3], [4, 5, 6], [7, 8, 9], [100, 101, 102], [100, 101, 102]]

In [31]:
# Dictionary of Dictionaries

students = {
    "srinivas" : {"age": 34, "major": "Maths"},
    "srini" : {"age": 32, "major": "cse"}
}

students

{'srinivas': {'age': 34, 'major': 'Maths'},
 'srini': {'age': 32, 'major': 'cse'}}

In [32]:
students["srinivas"]["age"]

34

In [33]:
students["srini"]["major"]

'cse'

In [34]:
students["srini"]["major"]="CS"

In [35]:
students

{'srinivas': {'age': 34, 'major': 'Maths'},
 'srini': {'age': 32, 'major': 'CS'}}

In [38]:
new_student = {"age": 35, "major": "physics"}

In [39]:
students["charlie"] = new_student

In [40]:
students

{'srinivas': {'age': 34, 'major': 'Maths'},
 'srini': {'age': 32, 'major': 'CS'},
 'charlie': {'age': 35, 'major': 'physics'}}

In [42]:
# Nested Dictionary to List

people = [
    {'srinivas': {'age': 34, 'major': 'Maths'},
 'srini': {'age': 32, 'major': 'CS'},
 'charlie': {'age': 35, 'major': 'physics'}}
]

In [43]:
people

[{'srinivas': {'age': 34, 'major': 'Maths'},
  'srini': {'age': 32, 'major': 'CS'},
  'charlie': {'age': 35, 'major': 'physics'}}]

In [46]:
type(people)

list

In [ ]:
type(people[0])

dict

In [49]:
# Fetching the dictionary items in the list
people[0]["srinivas"]

{'age': 34, 'major': 'Maths'}

In [50]:
people[0]["srinivas"]["age"]

34

Functions

Simple Function

In [1]:
def greet():
    print("Greetings from the greet function!")

In [2]:
greet()  # Calling the greet function to execute its code

Greetings from the greet function!

Parameterized Functions

In [5]:
# Input to the function

def greet(name):
    print(f"Hello, {name}!")

In [6]:
greet("srinivas") # Calling the greet function with an argument

Hello, srinivas!

Default Parameter Function

In [7]:
def greet_with_default(name="Srinivas"):
    print(f"Hello, {name}!")

greet_with_default()  # Calling the function without an argument, will use the default value
greet_with_default("John")  # Calling the function with a custom argument

Hello, Srinivas!
Hello, John!

In [11]:
def square(number):
    return number ** 2


print(square(4))  # Calling the square function with an argument

result = square(5)  # Calling the square function with an argument
print(result)  # Printing the result of the square function

16
25

In [13]:
def calculate_rectangle_area(length, width):
    return length * width

result = calculate_rectangle_area(5, 10)  # Calling the function with length and width
print(f"Area of rectangle is: {result}")

Area of rectangle is: 50

In [15]:
def calculate_rectangle_area(length, width):
    area = length * width
    perimeter = 2 * (length + width)
    return area, perimeter

area , perimeter = calculate_rectangle_area(5, 10)  # Calling the function with length and width
print(f"Area of rectangle is: {area}, Perimeter of rectangle is: {perimeter}")

Area of rectangle is: 50, Perimeter of rectangle is: 30

Multiple Arguments for a Function

In [16]:
def calculate_sum(*args):
    total = sum(args)  # Using the built-in sum function to calculate the total
    return total

In [17]:
calculate_sum(1, 2, 3, 4, 5)  # Calling the function with multiple arguments

15

Lambda Functions :: 

Lambda functions in Python are small, anonymous functions defined with the lambda keyword.

lambda arguments: expression

In [ ]:
square = lambda x:x ** 2  # Using a lambda function to define square
print(square(5))

# Lambda functions can have any number of arguments but only one expression.

25

In [22]:
calc_rectangle_area = lambda length, width: length * width
print(calc_rectangle_area(5, 10))  # Calling the lambda function with length and width

50

Modules

In [32]:
import random

random_number = random.randint(1,10)    # Generating a random integer between 1 and 10
print(random_number)

random_float = random.uniform(1, 10)  # Generating a random float between 1 and 10
print(random_float)

1
9.430957432882748

In [ ]:
from random import choice, shuffle

my_list = [1, 2, 3, 4, 5]
random_choice = choice(my_list)  # Randomly selecting an element from the list
print(random_choice)

shuffle(my_list)  # Shuffling the list in place
print(my_list)  # Printing the shuffled list

5
None
[5, 3, 1, 4, 2]

In [42]:
import random as rnd
rnd.randint(1, 100)  # Generating a random integer between 1 and 100

55

In [45]:
import math
math.sqrt(25)  # Calculating the square root of 25

5.0

In [46]:
math.factorial(5)  # Calculating the factorial of 5

120

Classes and Objects

In [2]:
class Dog:
    def __init__(self, name, age): 
        # Characteristics of the Dog class
        self.name = name  # Instance variable for the dog's name
        self.age = age  # Instance variable for the dog's age

    def bark(self):
        # Method to make the dog bark
        print(f"{self.name} of {self.age} says Woof!")

In [4]:
dog1 = Dog("Sky", 3)  # Creating an instance of the Dog class
dog2 = Dog("Pluto", 5)  # Creating another instance of the Dog class"

In [5]:
dog1.bark()

Sky of 3 says Woof!

In [6]:
dog2.bark()

Pluto of 5 says Woof!