Pandas Course

In [2]:
import pandas as pd

In [3]:
pd.__version__
# This script checks the version of the pandas library installed in the environment.

'2.3.1'

Pandas Series and Series Operations

Series is a one-dimensional array, like object that can hold various data types, including integer, float and strings.

In [4]:
my_series_mixed = pd.Series([10,20,30,6.0,7.0,8.0,"Jan","Feb","Mar"], index=["a","b","c","d","e","f","g","h","i"])
my_series_mixed

a     10
b     20
c     30
d    6.0
e    7.0
f    8.0
g    Jan
h    Feb
i    Mar
dtype: object

In [5]:
type(my_series_mixed)

pandas.core.series.Series

In [6]:
my_series_int = pd.Series([10,20,30], index=["a","b","c"])
my_series_int

a    10
b    20
c    30
dtype: int64

In [7]:
type(my_series_int)

pandas.core.series.Series

In [8]:
my_series_float = pd.Series([6.0,7.0,8.0], index=["a","b","c"])
my_series_float

a    6.0
b    7.0
c    8.0
dtype: float64

In [9]:
type(my_series_float)

pandas.core.series.Series

In [10]:
my_series_month = pd.Series(["Jan","Feb","Mar"], index=["a","b","c"])
my_series_month

a    Jan
b    Feb
c    Mar
dtype: object

In [11]:
type(my_series_month)

pandas.core.series.Series

In [12]:
my_series_month

a    Jan
b    Feb
c    Mar
dtype: object

In [13]:
my_series_month["a"]  # Accessing the first element of the series

'Jan'

In [14]:
my_series_mixed["b":"d"] # Accessing a slice of the series from index 'b' to 'd'

b     20
c     30
d    6.0
dtype: object

In [15]:
my_series_int

a    10
b    20
c    30
dtype: int64

In [16]:
my_series_int + 5
# Adding 5 to each element in the integer series

a    15
b    25
c    35
dtype: int64

In [17]:
my_series_float

a    6.0
b    7.0
c    8.0
dtype: float64

In [18]:
my_series_float * 2
# Multiplying each element in the float series by 2

a    12.0
b    14.0
c    16.0
dtype: float64

In [19]:
my_series_float

a    6.0
b    7.0
c    8.0
dtype: float64

In [20]:
my_series_float / 2
# Dividing each element in the float series by 2

a    3.0
b    3.5
c    4.0
dtype: float64

In [21]:
my_series_float

a    6.0
b    7.0
c    8.0
dtype: float64

Series - Data Types

In [22]:
type(my_series_float)

# This returns the Python type of the object my_series_float.
#  It tells you that my_series_float is a Pandas Series object.
# <class 'pandas.core.series.Series'>

pandas.core.series.Series

In [23]:
my_series_float.dtype
# This returns type of the data inside the Series
# It tells you that the data stored in the Series is of type float64.

dtype('float64')

In [24]:
type(my_series_float["a"])

# This returns the type of a single element from the Series, not the Series itself.

numpy.float64

Series Methods

In [25]:
my_series_float.size 
# This returns the number of elements in the Series.

3

In [26]:
my_series_float.shape
# This returns the shape of the Series, which is a tuple representing its dimensions.
# For a 1D Series, it will return (n,), where n is the number of elements in the Series.

(3,)

In [27]:
my_series_mixed

a     10
b     20
c     30
d    6.0
e    7.0
f    8.0
g    Jan
h    Feb
i    Mar
dtype: object

In [28]:
my_series_mixed.head()
# This returns the first 5 elements of the Series. 
# If the Series has fewer than 5 elements, it returns all of them.

a     10
b     20
c     30
d    6.0
e    7.0
dtype: object

In [29]:
my_series_mixed.tail()
# This returns the last 5 elements of the Series. 
# If the Series has fewer than 5 elements, it returns all of them.

e    7.0
f    8.0
g    Jan
h    Feb
i    Mar
dtype: object

In [30]:
my_series_mixed.head(3)
# This returns the first 3 elements of the Series.

a    10
b    20
c    30
dtype: object

In [31]:
my_series_mixed.tail(3)
# This returns the last 3 elements of the Series.

g    Jan
h    Feb
i    Mar
dtype: object

Descriptive Statistics for Numeric Values

In [32]:
my_series_int

a    10
b    20
c    30
dtype: int64

In [ ]:
my_series_int.describe()
# This provides a summary of statistics for the integer Series,
#  including count, mean, standard deviation, min, max, and quartiles.
#  Also displays the output data type of the series, float64.

count     3.0
mean     20.0
std      10.0
min      10.0
25%      15.0
50%      20.0
75%      25.0
max      30.0
dtype: float64