One Dimensional - Row/Column - In Pandas - Series

Two Dimensional - Rows and Columns (Entire Table) - In Pandas - Dataframe

Multiple Series is called a DataFrame

In [65]:
import pandas as pd

In [66]:
# List
l1 = [1,2,3,4,5,6,7,8,9,0]
l1[0]

1

In [67]:
# Dictionary

d1 = {'Name': 'Srinivas', 'Age': 20}
d1['Name']
d1['Age']

20

In [68]:
# Enumerate is useful for getting indexed lists
for i in enumerate(l1):
    print(i)

# Output - 0: index, 1: Value

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 0)

In [69]:
# Enumerate is useful for getting indexed lists
for i in enumerate(d1):
    print(i)

# Output : index-0, Key-Name

(0, 'Name')
(1, 'Age')

In [70]:
# Enumerate is useful for getting indexed lists
for i,j in enumerate(l1):
    print(i,j)

# Output - 0: index, 1: Value

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 0

In [71]:
pd.Series(l1)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [72]:
# Changing the index names in pandas Series.

s1 = pd.Series((2,3,4),index=['a','b','c'])
s1

a    2
b    3
c    4
dtype: int64

In [73]:
# Using the list inside the Series
t1 = (2,3,4)
# tuple
print(type(t1))

# Series using Tuple.

s1 = pd.Series(t1,index=['a','b','c'])
s1

<class 'tuple'>

a    2
b    3
c    4
dtype: int64

In [74]:
dict1 = {'a':2,'b':3,'c':5}
dict1

{'a': 2, 'b': 3, 'c': 5}

In [75]:
# List
list1 = [4,'hi','hello',8,450.50]

s2 = pd.Series(list1,index=['a','b','c','d','e'])
s2

a        4
b       hi
c    hello
d        8
e    450.5
dtype: object

In [76]:
# Mathematical Operations in Series.

list_a = [1,2,3]
list_b = [3,4,5]

s1 = pd.Series(list_a,index=['a','b','c'])
s2 = pd.Series(list_b,index=['x','y','z'])

s1+s2

a   NaN
b   NaN
c   NaN
x   NaN
y   NaN
z   NaN
dtype: float64

In [77]:
a1 = pd.Series([1,2,3],index=['a','b','c'])
a1


b2 = pd.Series([2,3,4],index=['a','b','c'])
b2

a1+b2

a    3
b    5
c    7
dtype: int64

In [78]:
a1 = pd.Series([1,2,3],index=['a','b','c'])
a1


b2 = pd.Series([2,3,4],index=['a','b','d'])
b2

a1+b2

# As index are different, it shows NaN.

a    3.0
b    5.0
c    NaN
d    NaN
dtype: float64

 Extract index based on Position, Label.

In [79]:
s1

a    1
b    2
c    3
dtype: int64

In [80]:
# Position Based Indexing

s1_index_value = s1.iloc[2]
s1_index_value
print(s1_index_value)

3

In [81]:
s1

a    1
b    2
c    3
dtype: int64

In [85]:
# Label based Indexing
s1.loc['a']
print(s1.loc['a'])

1

In [86]:
# List
list1 = [4,'hi','hello',8,450.50]
list1

[4, 'hi', 'hello', 8, 450.5]

In [88]:
# Range.

list1[0:3]

# Last Range is excluded in Position based indexing.

[4, 'hi', 'hello']

In [90]:
list1
list_c = pd.Series(list1,index=['a','b','c','d','e'])
list_c

a        4
b       hi
c    hello
d        8
e    450.5
dtype: object

In [93]:
# Range on label based indexing.

list_c['a':'d']
# Last Range is included in label based indexing.

a        4
b       hi
c    hello
d        8
dtype: object

In [96]:
list_c

a        4
b       hi
c    hello
d        8
e    450.5
dtype: object

In [ ]:
# If i need to get list output with a, c, e. Random Label indexing will require []

list_c[['a','c','e']]

# List needs to be passed with values inside the [] parenthesis.

a        4
c    hello
e    450.5
dtype: object